*.ydk
*.yrp
*.yrp3d

expansions/pics/*.jpg
expansions/pics/*.tmp

picture/card/*.jpg
picture/cardIn8thEdition/*.jpg
picture/closeup/*.png
picture/field/*.jpg

YGOPro2_Data/output_log.txt
YGOPro2_x64_Data/output_log.txt

cdb/de-DE
config/de-DE
cdb/es-ES
config/es-ES
cdb/fr-FR
config/fr-FR
cdb/it-IT
config/it-IT
cdb/ko-KR
config/ko-KR
cdb/zh-TW
config/zh-TW
